.call-to-action {
	position: relative;
	text-align: center;
	line-height: 1.1;
	overflow: hidden;
	white-space: nowrap;
}

@media (min-width: 20em) {
	.call-to-action {
		font-size: var(--text-lg);
	}
}

.call-to-action::after {
	content: '';
	position: absolute;
	inset: 0;
	pointer-events: none;
	transition: background-color var(--theme-transition);
	mix-blend-mode: overlay;
}

.call-to-action:focus::after,
.call-to-action:hover::after {
	background-color: hsla(var(--gray-999-basis), 0.3);
}

@media (min-width: 50em) {
	.call-to-action {
		font-size: var(--text-xl);
	}
}
