.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.control-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 20px;
  background-color: #f5f5f515;
  border: 2px solid #cccccc00;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.control-box:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.control-box svg {
  max-width: 100px;
  max-height: 100px;
}
