---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		"I aim to be a valuable developer, part of an exceptional team, using technology and a passion for innovation to make a difference in the world."
	</p>

	<p>
		In the financial industry, as the trend towards transforming into a technology-driven sector through data empowerment continues, I believe that moving towards becoming a developer is more like enhancing my own abilities. While my Fintech background helps with my choice of web-based backend and cloud development, my real drive comes from years of self-exploration and a passion for technology. I look forward to collaborating with you to overcome any challenges and create something exceptional.
	</p>


</Layout>
