<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>

    <script type="module">
      import { createApp, ref, onMounted } from 'vue';

      const app = createApp({
        setup() {
          const param = ref({});
          const errors = ref({});
          const deleteData = ref(undefined);
          const insertData = ref(undefined);
          const updateData = ref(undefined);
          const prodaction = ref("");

          const clearForm = () => {
            var inputs = document.getElementsByTagName("input");
            for (var i = 0; i < inputs.length; i++) {
              if (inputs[i].type == "text") {
                inputs[i].value = "";
              }
            }
          };

          const fetchData = () => {
            // 使用 Fetch API 发送请求获取数据
            fetch("http://localhost:8080/pages/ajax/products", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                // 如果有需要，您可以在这里添加要发送到后端的数据
              }),
            })
              .then((response) => response.json())
              .then((data) => {
                console.log(data.success);
                if (data.success === false) {
                  console.log(data);
                }
              })
              .catch((error) => {
                console.error("Error:", error);
              });
          };

          onMounted(() => {
            // 這裡的程式碼在客戶端渲染後執行
            clearForm();
          });

          return {
            param,
            errors,
            deleteData,
            insertData,
            updateData,
            prodaction,
            clearForm,
            fetchData,
          };
        }
      });

      app.mount("#app");

      const fetchDataAjax = () => {
        fetch("http://localhost:8080/pages/ajax/products", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            // Add data to send to the backend if needed
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data.success);
            if (data.success === false) {
              console.log(data);
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      };
    </script>

  </head>
  <body>
    <div id="app">
      <h3>Welcome</h3>

      <h3>Product Table</h3>

      <form
        action="http://localhost:8080/pages/product.controller"
        method="post"
        @submit.prevent="handleSubmit"
      >
        <table>
          <tr>
            <td>ID :</td>
            <td><input type="text" name="id" v-model="param.id" /></td>
          </tr>
          <tr>
            <td>Name :</td>
            <td><input type="text" name="name" v-model="param.name" /></td>
          </tr>
          <tr>
            <td>Price :</td>
            <td><input type="text" name="price" v-model="param.price" /></td>
          </tr>
          <tr>
            <td>Make :</td>
            <td><input type="text" name="make" v-model="param.make" /></td>
          </tr>
          <tr>
            <td>Expire :</td>
            <td><input type="text" name="expire" v-model="param.expire" /></td>
          </tr>
          <tr>
            <td>
              <input
                type="submit"
                name="prodaction"
                value="Insert"
                @click="prodaction = 'Insert'"
              />
              <input
                type="submit"
                name="prodaction"
                value="Update"
                @click="prodaction = 'Update'"
              />
            </td>
            <td>
              <input
                type="submit"
                name="prodaction"
                value="Delete"
                @click="prodaction = 'Delete'"
              />
              <input
                type="submit"
                name="prodaction"
                value="Select"
                @click="prodaction = 'Select'"
              />
              <input type="button" value="Clear" @click="clearForm" />
            </td>
          </tr>
        </table>
      </form>

      <button onclick="fetchDataAjax()">Ajax</button>

      <div v-if="deleteData !== undefined"></div>

      <div v-if="insertData !== undefined">
        <h3>Insert Product Table Success</h3>
      </div>

      <div v-if="updateData !== undefined">
        <h3>Update Product Table Success</h3>
      </div>
    </div>
  </body>
</html>
