---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Product</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      import { createApp } from 'vue';

      const app = createApp({
        el: "#app",
        data: {
          param: {},
          errors: {},
          deleteData: undefined,
          insertData: undefined,
          updateData: undefined,
          prodaction: "",
        },
        methods: {
          clearForm() {
            var inputs = document.getElementsByTagName("input");
            for (var i = 0; i < inputs.length; i++) {
              if (inputs[i].type == "text") {
                inputs[i].value = "";
              }
            }
          },
          handleSubmit() {
            // Handle form submission logic here
            // You can access form data using this.param
            // Set errors or perform actions based on form data
          },
        },
      });
    </script>
  </head>
  <body>
    <div id="app">
      <h3>Welcome</h3>

      <h3>Product Table</h3>

      <form
        action="/tyProduct.controller"
        method="post"
        @submit.prevent="handleSubmit"
      >
        <table>
          <tr>
            <td>ID :</td>
            <td><input type="text" name="id" v-model="param.id" /></td>
            <td>{{ errors.id }}</td>
          </tr>
          <tr>
            <td>Name :</td>
            <td><input type="text" name="name" v-model="param.name" /></td>
            <td>{{ errors.name }}</td>
          </tr>
          <tr>
            <td>Price :</td>
            <td><input type="text" name="price" v-model="param.price" /></td>
            <td>{{ errors.price }}</td>
          </tr>
          <tr>
            <td>Make :</td>
            <td><input type="text" name="make" v-model="param.make" /></td>
            <td>{{ errors.make }}</td>
          </tr>
          <tr>
            <td>Expire :</td>
            <td><input type="text" name="expire" v-model="param.expire" /></td>
            <td>{{ errors.expire }}</td>
          </tr>
          <tr>
            <td>
              <input
                type="submit"
                name="prodaction"
                value="Insert"
                @click="prodaction = 'Insert'"
              />
              <input
                type="submit"
                name="prodaction"
                value="Update"
                @click="prodaction = 'Update'"
              />
            </td>
            <td>
              <input
                type="submit"
                name="prodaction"
                value="Delete"
                @click="prodaction = 'Delete'"
              />
              <input
                type="submit"
                name="prodaction"
                value="Select"
                @click="prodaction = 'Select'"
              />
              <input type="button" value="Clear" @click="clearForm" />
            </td>
          </tr>
        </table>
      </form>

      <h3><span class="error">{{ errors.action }}</span></h3>
      <div v-if="deleteData !== undefined">
        <h3>Delete Product Table Success : {{ deleteData }} row deleted</h3>
        <script>app.clearForm();</script>
      </div>

      <div v-if="insertData !== undefined">
        <h3>Insert Product Table Success</h3>
        <table border="1">
          <tr><td>Id</td><td>{{ insertData.id }}</td></tr>
          <tr><td>Name</td><td>{{ insertData.name }}</td></tr>
          <tr><td>Price</td><td>{{ insertData.price }}</td></tr>
          <tr><td>Make</td><td>{{ insertData.make }}</td></tr>
          <tr><td>Expire</td><td>{{ insertData.expire }}</td></tr>
        </table>
        <script>app.clearForm();</script>
      </div>

      <div v-if="updateData !== undefined">
        <h3>Update Product Table Success</h3>
        <table border="1">
          <tr><td>Id</td><td>{{ updateData.id }}</td></tr>
          <tr><td>Name</td><td>{{ updateData.name }}</td></tr>
          <tr><td>Price</td><td>{{ updateData.price }}</td></tr>
          <tr><td>Make</td><td>{{ updateData.make }}</td></tr>
          <tr><td>Expire</td><td>{{ updateData.expire }}</td></tr>
        </table>
        <script>app.clearForm();</script>
      </div>
    </div>

    
  </body>
</html>
