---
import BaseLayout from "../layouts/BaseLayout.astro";
import LoginAjax from "../components/SecureLogin.html"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
    <script src="https://www.unpkg.com/axios@1.6.2/dist/axios.min.js"></script>

  </head>
  <body>
    <BaseLayout title="About | Tianyi Kao" description="About Tianyi Kao">
      <div class="stack gap-20">
        <main class="wrapper about">
          <div id="app">
            <h3>Welcome</h3>
            <h5>Product Table</h5>
            <LoginAjax />
            <iframe id="myIframe" style="display: none;" @load="clearForm"></iframe>
          </div>
        </main>
      </div>
    </BaseLayout>
    <script>
    </script>
  </body>
</html>
