---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Gallery from  "../components/Gallery.html";

// 檢查登入狀態
const url = new URL(Astro.request.url);
const username = url.searchParams.get('username');
const token = url.searchParams.get('token');

---

<!DOCTYPE html>
<meta charset="UTF-8" />
<html>
  <head>
    <style>
      #system {
        text-align: center;
      }
      #settle {
        font-size: 100px;
        font-weight: bold;
        color: rgb(81, 167, 247);
      }
    </style>
  </head>
  <body>
    <BaseLayout
      title="Wildland | Wavo Yuropha"
      description="Learn about TY's most recent projects"
    >
      <div class="stack gap-20">
        <main class="wrapper stack gap-8">
          <Hero
            title="Wildland"
            tagline="Designed by Tianyi in Taipei."
            align="start"
          />
          <Gallery />
        </main>
      </div>
    </BaseLayout>
  </body>
</html>
