---
import CallToAction from './CallToAction.astro';
import { Icon } from "./Icon";
---

<aside class="contact-cta">
	<h2 class="section-title">To Make a Difference</h2>
	<CallToAction href="mailto:tianyikao@gmail.com">
		Email Me
		<Icon icon="paper-plane-tilt" size="1.2em" />
	</CallToAction>
</aside>
