---
import { Icon } from './Icon';
const currentYear = new Date().getFullYear();
---

<footer>
	<div class="group">
		<p>
			Designed by TY
		</p>
		<p>&copy; {currentYear} TY Multiverse</p>
	</div>
	<div class="social-links">
		<a href="https://twitter.com/wawiking">
			<Icon icon="twitter-logo" />
			<span>Twitter</span>
		</a>
		<a href="https://github.com/Vinskao">
			<Icon icon="github-logo" />
			<span>GitHub</span>
		</a>
	</div>
</footer>
