<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Galwall</title>
    <style>
      #container1,
      #container2 {
        position: absolute;
        top: 50px;
        left: 0;
        display: flex;
        width: 4000px;
        overflow: hidden;
      }

      #container1 {
        z-index: 1;
      }

      #container2 {
        z-index: 2;
        left: 250px;
      }

      .ad {
        min-width: 60px;
        height: auto;
        margin-right: -100px;
      }

      @keyframes slideLeft {
        0% {
          transform: translateX(0%);
        }
        100% {
          transform: translateX(-100%);
        }
      }
    </style>
  </head>
  <body>
    <div id="container1"></div>
    <div id="container2"></div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const container1 = document.getElementById("container1");
        const container2 = document.getElementById("container2");
        const numVisibleAds = 38;
        const imageList1 = [
          "/tymultiverse/assets/person/Miku.png",
          "/tymultiverse/assets/person/Wavo.png",
          "/tymultiverse/assets/person/Sorane.png",
          "/tymultiverse/assets/person/Masako.png",
          "/tymultiverse/assets/person/MasakoEntering.png",
          "/tymultiverse/assets/person/Sayuri.png",
          "/tymultiverse/assets/person/Chiaki.png",
          "/tymultiverse/assets/person/Hitomi.png",
          "/tymultiverse/assets/person/Kamira.png",
          "/tymultiverse/assets/person/KamiraPeeing.png",
          "/tymultiverse/assets/person/Mayo.png",
          "/tymultiverse/assets/person/MayoPumped.png",
          "/tymultiverse/assets/person/Yuko.png",
          "/tymultiverse/assets/person/Aile.png",
          "/tymultiverse/assets/person/Taisy.png",
          "/tymultiverse/assets/person/Spoke.png",
          "/tymultiverse/assets/person/Delsa.png",
          "/tymultiverse/assets/person/Etsuko.png",
          "/tymultiverse/assets/person/Kyu.png",
          "/tymultiverse/assets/person/Riuri.png",
          "/tymultiverse/assets/person/Natsumi.png",
          "/tymultiverse/assets/person/Kazuko.png",
          "/tymultiverse/assets/person/Miyu.png",
          "/tymultiverse/assets/person/Valmet.png",
          "/tymultiverse/assets/person/Samui.png",
          "/tymultiverse/assets/person/Paprika.png",
          "/tymultiverse/assets/person/Caleigh.png",
          "/tymultiverse/assets/person/Doire.png",
          "/tymultiverse/assets/person/Z.png",
          "/tymultiverse/assets/person/Branwen.png",
          "/tymultiverse/assets/person/Lucrece.png",
          "/tymultiverse/assets/person/Uiobbeci.png",
          "/tymultiverse/assets/person/Draeny.png",
          "/tymultiverse/assets/person/Nianca.png",
          "/tymultiverse/assets/person/Yui.png",
          "/tymultiverse/assets/person/Mesoyei.png",
          "/tymultiverse/assets/person/Medicis.png",
          "/tymultiverse/assets/person/Ann.png",
          "/tymultiverse/assets/person/Shuan.png",
          "/tymultiverse/assets/person/Azusa.png",
          "/tymultiverse/assets/person/Kristae.png",
          "/tymultiverse/assets/person/Miyako.png",
        ];

        const imageList3 = [

        ];

        function createAdDiv(imageURL) {
          const adDiv = document.createElement("div");
          adDiv.className = "ad";
          const adImage = document.createElement("img");
          adImage.src = imageURL;
          adImage.width = 200;
          adDiv.appendChild(adImage);
          return adDiv;
        }

        function loadAds(imageList, container, numAds) {
          container.innerHTML = "";
          for (let i = 0; i < numAds; i++) {
            const imageURL = imageList[i % imageList.length];
            const adDiv = createAdDiv(imageURL);
            container.appendChild(adDiv);
          }
        }

        // Initial load
        loadAds(imageList1, container1, numVisibleAds);
        loadAds(imageList3, container2, imageList3.length);

        // Start container1 animation
        container1.style.animation = "slideLeft 180s linear infinite alternate";

        // Container2 does not have animation
      });
    </script>
  </body>
</html>
