<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Org</title>
    <style>
      #system {
        align-items: center;
        padding-left: -50px;
        margin-left: -50px;
      }
      .title {
        text-align: center;
        flex-direction: row;
        display: flex;
        z-index: 999;
        padding-left: 30px;
      }
      #cardList li {
        margin: 0;
        list-style-type: none;
      }
      .container {
        display: flex;
        flex-direction: row;
        position: relative;
        columns: 2;
      }
      .powers-container {
        font-size: 10px;
        text-align: center;
      }
      #attrHagisun,
      #attrHagishi,
      #attrRapeharem,
      #attrMutav,
      #attrLibertad {
        margin: 0;
        padding: 0;
      }
      #totalPhysicPowerHagishi,
      #totalMagicPowerHagishi,
      #totalUtilityPowerHagishi,
      #totalPhysicPowerHagisun,
      #totalMagicPowerHagisun,
      #totalUtilityPowerHagisun,
      #totalPhysicPowerRapeharem,
      #totalMagicPowerRapeharem,
      #totalUtilityPowerRapeharem,
      #totalPhysicPowerMutav,
      #totalMagicPowerMutav,
      #totalUtilityPowerMutav,
      #totalHagishi,
      #totalHagisun,
      #totalRapeharem,
      #totalMutav,
      #attrHagisun,
      #attrHagishi,
      #attrRapeharem,
      #attrMutav,
      #totalPhysicPowerLibertad,
      #totalMagicPowerLibertad,
      #totalUtilityPowerLibertad,
      #totalLibertad,
      #attrLibertad {
        flex: 1;
        font-size: 12px;
        margin: 0;
        padding: 0;
      }
      #cardImagesLibertad,
      #cardImagesRapeharem,
      #cardImagesHagisun,
      #cardImagesHagishi,
      #cardImagesMutav,
      #cardImagesAll {
        white-space: nowrap;
        overflow-x: auto;
        padding-right: 90px;
      }
    </style>
    <script
      async
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    ></script>
    <script
      async
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.2/d3.min.js"
    ></script>
  </head>

  <body>
    <div id="system">
      <div class="title">
        <button id="getHagishiButton" onclick="getHagishi()">+ 八食</button>
        <h5>八食</h5>
      </div>
      <div id="cardImagesHagishi"></div>
      <div class="powers-container">
        <div id="totalPhysicPowerHagishi">Hagishi 力：0</div>
        <div id="totalMagicPowerHagishi">Hagishi 魔：0</div>
        <div id="totalUtilityPowerHagishi">Hagishi 術：0</div>
        <div id="totalHagishi">總能力：0</div>
        <div id="attrHagishi">屬性：</div>
      </div>
    </div>

    <div id="system">
      <div class="title">
        <button id="getLibertadButton" onclick="getLibertad()">
          + Libertad
        </button>
        <h5>Libertad</h5>
      </div>
      <div id="cardImagesLibertad"></div>
      <div class="powers-container">
        <div id="totalPhysicPowerLibertad">Libertad 力：0</div>
        <div id="totalMagicPowerLibertad">Libertad 魔：0</div>
        <div id="totalUtilityPowerLibertad">Libertad 術：0</div>
        <div id="totalLibertad">總能力：0</div>
        <div id="attrLibertad">屬性：</div>
      </div>
    </div>

    <div id="system">
      <div class="title">
        <button id="getHagisunButton" onclick="getHagisun()">+初桑</button>
        <h5>初桑</h5>
      </div>
      <div id="cardImagesHagisun"></div>
      <div class="powers-container">
        <div id="totalPhysicPowerHagisun">Hagisun 力：0</div>
        <div id="totalMagicPowerHagisun">Hagisun 魔：0</div>
        <div id="totalUtilityPowerHagisun">Hagisun 術：0</div>
        <div id="totalHagisun">總能力：0</div>
        <div id="attrHagisun">屬性：</div>
      </div>
    </div>

    <div id="system">
      <div class="title">
        <button id="getRapeharemButton" onclick="getRapeharem()">+姦閣</button>
        <h5>姦閣</h5>
      </div>
      <div id="cardImagesRapeharem"></div>
      <div class="powers-container">
        <div id="totalPhysicPowerRapeharem">Rapeharem 力：0</div>
        <div id="totalMagicPowerRapeharem">Rapeharem 魔：0</div>
        <div id="totalUtilityPowerRapeharem">Rapeharem 術：0</div>
        <div id="totalRapeharem">總能力：0</div>
        <div id="attrRapeharem">屬性：</div>
      </div>
    </div>

    <div id="system">
      <div class="title">
        <button id="getMutavButton" onclick="getMutav()">
          +Jardin des Dieux
        </button>
        <h5>Jardin des Dieux</h5>
      </div>
      <div id="cardImagesMutav"></div>
      <div class="powers-container">
        <div id="totalPhysicPowerMutav">Jardin des Dieux 力：0</div>
        <div id="totalMagicPowerMutav">Jardin des Dieux 魔：0</div>
        <div id="totalUtilityPowerMutav">Jardin des Dieux 術：0</div>
        <div id="totalMutav">總能力：0</div>
        <div id="attrMutav">屬性：</div>
      </div>
    </div>

    <div id="system">
      <div class="title">
        <button id="getAllButton" onclick="getAll()">+隨機</button>
        <h5>隨機</h5>
      </div>
      <div id="cardImagesAll"></div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        $.getJSON(
          // callback function
          "https://firebasestorage.googleapis.com/v0/b/graph-2cfc7.appspot.com/o/palais.json?alt=media&token=a12f751a-3a31-4931-ab7e-b5de12e85015&_gl=1*u5u5sm*_ga*MTYxNzczOTU2MC4xNjk1MzQ5OTI4*_ga_CW55HF8NVT*MTY5OTI3NTE2Mi45LjEuMTY5OTI3NTk2MS40MS4wLjA.",
          function (response) {
            var jsonData = response;

            const cards = jsonData.map((item) => ({
              id: item.id,
              name_original: item.name_original,
              code_name: item.code_name,
              name: item.name,
              physic_power: item.physic_power,
              magic_power: item.magic_power,
              utility_power: item.utility_power,
              dob: item.dob,
              race: item.race,
              attributes: item.attributes,
              gender: item.gender,
              ass_size: item.ass_size,
              boobs_size: item.boobs_size,
              height_cm: item.height_cm,
              weight_kg: item.weight_kg,
              army_name: item.army_name,
              dept_name: item.dept_name,
              profession: item.profession,
              combat: item.combat,
              favorite_foods: item.favorite_foods,
              job: item.job,
              physics: item.physics,
              known_as: item.known_as,
              personally: item.personally,
              concubine: item.concubine,
              main_weapon: item.main_weapon,
              sub_weapon: item.sub_weapon,
              interest: item.interest,
              likes: item.likes,
              dislikes: item.dislikes,
              faction: item.faction,
              gave_birth: item.gave_birth,
              origin_army_name: item.origin_army_name,
            }));

            var imageNamesHagishi = [
              "Wavo.png",
              "Chiaki.png",
              "Sayuri.png",
              "Hitomi.png",
              "Yuko.png",
              "Etsuko.png",
              "Masako.png",
              "Miku.png",
            ];
            var imageNamesLibertad = ["Miyu.png", "Z.png"];

            var imageNamesHagisun = [
              "Sorane.png",
              "Kyu.png",
              "Riuri.png",
              "Natsumi.png",
              "Kamira.png",
              "Kazuko.png",
              "Valmet.png",
              "Mayo.png",
            ];
            var imageNamesRapeharem = [
              "Samui.png",
              "Paprika.png",
              "Caleigh.png",
              "Doire.png",
              "Branwen.png",
              "Lucrece.png",
              "Uiobbeci.png",
              "Draeny.png",
              "Nianca.png",
              "Yui.png",
              "Mesoyei.png",
              "Ann.png",
              "Shuan.png",
            ];
            var imageNamesMutav = [
              "Monroe.png",
              "Spoke.png",
              "Delsa.png",
              "Kristae.png",
              "Taisy.png",
            ];

            var imageNamesAll = [
              "Wavo.png",
              "Chiaki.png",
              "Sayuri.png",
              "Hitomi.png",
              "Miku.png",
              "Yuko.png",
              "Etsuko.png",
              "Masako.png",
              "Sorane.png",
              "Kyu.png",
              "Riuri.png",
              "Natsumi.png",
              "Kamira.png",
              "Kazuko.png",
              "Valmet.png",
              "Mayo.png",
              "Miyu.png",
              "Samui.png",
              "Paprika.png",
              "Caleigh.png",
              "Doire.png",
              "Z.png",
              "Branwen.png",
              "Lucrece.png",
              "Uiobbeci.png",
              "Draeny.png",
              "Nianca.png",
              "Yui.png",
              "Mesoyei.png",
              "Monroe.png",
              "Spoke.png",
              "Delsa.png",
              "Ann.png",
              "Shuan.png",
              "Kristae.png",
              "Taisy.png",
            ];

            var containerIdHagishi = "cardImagesHagishi";
            var containerIdLibertad = "cardImagesLibertad";
            var containerIdAll = "cardImagesAll";
            var containerIdHagisun = "cardImagesHagisun";
            var containerIdRapeharem = "cardImagesRapeharem";
            var containerIdMutav = "cardImagesMutav";

            function getOrg(section) {
              var containerId, buttonId, totalPowerId, attrId, imageNames;
              if (section === "Hagishi") {
                containerId = containerIdHagishi;
                buttonId = "getHagishiButton";
                totalPowerId = "totalHagishi";
                attrId = "attrHagishi";
                imageNames = imageNamesHagishi;
              } else if (section === "Libertad") {
                containerId = containerIdLibertad;
                buttonId = "getLibertadButton";
                totalPowerId = "totalLibertad";
                attrId = "attrLibertad";
                imageNames = imageNamesLibertad;
              } else if (section === "Hagisun") {
                containerId = containerIdHagisun;
                buttonId = "getHagisunButton";
                totalPowerId = "totalHagisun";
                attrId = "attrHagisun";
                imageNames = imageNamesHagisun;
              } else if (section === "Rapeharem") {
                containerId = containerIdRapeharem;
                buttonId = "getRapeharemButton";
                totalPowerId = "totalRapeharem";
                attrId = "attrRapeharem";
                imageNames = imageNamesRapeharem;
              } else if (section === "Mutav") {
                containerId = containerIdMutav;
                buttonId = "getMutavButton";
                totalPowerId = "totalMutav";
                attrId = "attrMutav";
                imageNames = imageNamesMutav;
              } else if (section === "All") {
                containerId = containerIdAll;
                buttonId = "getAllButton";
                totalPowerId = "totalAll";
                attrId = "attrAll";
                imageNames = imageNamesAll;
              }
              console.log(section);
              var cardImagesContainer = document.getElementById(containerId);
              cardImagesContainer.innerHTML = "";
              var totalPhysicPower = 0;
              var totalMagicPower = 0;
              var totalUtilityPower = 0;
              var selectedCardNames = []; // 存储选中的卡片名称
              var selectedCardAttributes = []; // 存储选中的卡片属性

              var availableImages = imageNames.slice();
              var numberOfCardsToSelect = Math.min(3, availableImages.length);
              for (var i = 0; i < numberOfCardsToSelect; i++) {
                var randomIndex = Math.floor(
                  Math.random() * availableImages.length
                );
                var selectedImageName = availableImages[randomIndex];
                availableImages.splice(randomIndex, 1);
                selectedCardNames.push(selectedImageName.split(".")[0]);

                var selectedCard = cards.find(
                  (card) => card.name === selectedImageName.split(".")[0]
                );

                if (selectedCard) {
                  totalPhysicPower += selectedCard.physic_power;
                  totalMagicPower += selectedCard.magic_power;
                  totalUtilityPower += selectedCard.utility_power;
                  var imageUrl = `/assets/person/${selectedImageName}`;
                  var imageContainer = document.getElementById(containerId);
                  var image = document.createElement("img");
                  image.src = imageUrl;
                  image.alt = "Card";
                  image.style.width = "200px";
                  image.style.height = "auto";
                  image.style.marginRight = "-95px";
                  imageContainer.appendChild(image);
                }
              }

              var totalPhysicPowerElement = document.getElementById(
                `totalPhysicPower${section}`
              );
              var totalMagicPowerElement = document.getElementById(
                `totalMagicPower${section}`
              );
              var totalUtilityPowerElement = document.getElementById(
                `totalUtilityPower${section}`
              );
              var totalPowerElement = document.getElementById(totalPowerId);
              var attrElement = document.getElementById(attrId);

              // 更新物理和魔法能力值
              totalPhysicPowerElement.textContent =
                `${section} 力：` + totalPhysicPower;
              totalMagicPowerElement.textContent =
                `${section} 魔：` + totalMagicPower;
              totalUtilityPowerElement.textContent =
                `${section} 術：` + totalUtilityPower;

              // 获取选中卡片的属性
              selectedCardAttributes = cards
                .filter((card) => selectedCardNames.includes(card.name))
                .map((card) => card.attributes);
              attrElement.textContent =
                "屬性：" + selectedCardAttributes.join(", ");

              // 计算并更新总能力值
              var totalPower =
                totalPhysicPower + totalMagicPower + totalUtilityPower;
              totalPowerElement.textContent = `總能力：` + totalPower;
            }

            var getHagishiButton = document.getElementById("getHagishiButton");
            getHagishiButton.addEventListener("click", function () {
              getOrg("Hagishi");
            });

            var getLibertadButton =
              document.getElementById("getLibertadButton");
            getLibertadButton.addEventListener("click", function () {
              getOrg("Libertad");
            });

            var getMutavButton = document.getElementById("getMutavButton");
            getMutavButton.addEventListener("click", function () {
              getOrg("Mutav");
            });

            var getRapeharemButton =
              document.getElementById("getRapeharemButton");
            getRapeharemButton.addEventListener("click", function () {
              getOrg("Rapeharem");
            });

            var getHagisunButton = document.getElementById("getHagisunButton");
            getHagisunButton.addEventListener("click", function () {
              getOrg("Hagisun");
            });

            var getAllButton = document.getElementById("getAllButton");
            getAllButton.addEventListener("click", function () {
              getOrg("All");
            });
          }
        );
      });
    </script>
  </body>
</html>
