<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://www.unpkg.com/sweetalert2@11.10.1/dist/sweetalert2.all.min.js"></script>
    <script src="https://www.unpkg.com/axios@1.6.2/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3.3.12/dist/vue.global.prod.js"></script>
  </head>
  <body>
    <h3>Login</h3>
    <div id="app">
      <form id="loginForm">
        <table>
          <tr>
            <td>Username:</td>
            <td>
              <input
                type="text"
                id="username"
                name="username"
                v-model="username"
                :required="!username"
              />
            </td>
            <td>
              <span
                id="errorUsername"
                v-if="!username && errorMessages.xxx1"
                v-html="errorMessages.xxx1"
              ></span>
            </td>
          </tr>
          <tr>
            <td>Password:</td>
            <td>
              <input
                type="password"
                id="password"
                name="password"
                v-model="password"
                :required="!password"
              />
            </td>
            <td>
              <span
                id="errorPassword"
                v-if="!password && errorMessages.xxx2"
                v-html="errorMessages.xxx2"
              ></span>
            </td>
          </tr>
          <tr>
            <td>
              <select name="locale">
                <option value="">請選擇</option>
                <option value="zh_TW">中文</option>
                <option value="en_US">英文</option>
                <option value="ja_JP">日文</option>
                <option value="de_DE">德文</option>
              </select>
            </td>
            <td align="right">
              <button type="button" @click="submitLoginForm">Login</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <script>
      const app = Vue.createApp({
        data: function () {
          return {
            username: "",
            password: "",
            errorMessages: { xxx1: "", xxx2: "" },
          };
        },
        methods: {
          submitLoginForm() {
            let request = {
              username: this.username,
              password: this.password,
            };

            // Swal.fire({
            //   icon: "warning",
            //   text: "Loading.......",
            //   allowOutsideClick: true,
            //   showConfirmButton: true,
            // });

            axios
              .post(
                "http://192.168.24.60:8080/secure/login/ajex.controller",
                request
              )
              .then((response) => {
                //使用了 function，這將導致 this 的上下文不是 Vue 實例，而是 window。這樣，您無法訪問 Vue 實例中的 this.username 和 this.password。解決這個問題的方法是使用箭頭函數，因為箭頭函數不會創建自己的 this 上下文，而是繼承父級上下文的 this
                if (!this.username && !this.password) {
                  this.errorMessages.xxx1 = "<span>帳號必填</span>";
                  this.errorMessages.xxx2 = "<span>密碼必填</span>";
                  return;
                }
                if (response.data.success) {
                  Swal.fire({
                    icon: "success",
                    text: response.data.message,
                    confirmButtonText: "確定",
                  }).then(function (result) {
                    if (result.isConfirmed) {
                      window.location.assign("/productwelcome/");
                    }
                  });
                } else {
                  Swal.fire({
                    icon: "error",
                    text: response.data.message,
                    confirmButtonText: "確定",
                  });
                }
                setTimeout(function () {
                  Swal.close();
                }, 3000);
              })
              .catch(function (error) {
                Swal.fire({
                  icon: "error",
                  text: "查詢錯誤：" + error.message,
                  confirmButtonText: "確定",
                });
              });
          },
        },
      });

      app.mount("#app");
    </script>
    <style>
      #errorPassword span {
        color: red;
      }
      #errorUsername span {
        color: red;
      }
    </style>
  </body>
</html>
