---
import { Icon } from './Icon';
---
<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>BackEnd</h2>
		<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="0584630d-b598-4eba-a6d1-425cb7a997fe" data-share-badge-host="https://www.credly.com"></div>
		<script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>FrontEnd</h2>
		<div class="image-container">
			<a href="https://www.freecodecamp.org/certification/TianyiKao/javascript-algorithms-and-data-structures" target="_blank" rel="noopener noreferrer">
				<img src="/tymultiverse/assets/stock-3.jpg" alt="FreeCodeCamp Certification" />
			</a>
		</div>
		<div class="image-container">
			<a href="https://www.freecodecamp.org/certification/TianyiKao/data-visualization" target="_blank" rel="noopener noreferrer">
				<img src="/tymultiverse/assets/stock-1.jpg" alt="FreeCodeCamp Certification" />
			</a>
		</div>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Infra</h2>
		<div class="image-container">
			<a href="https://www.cloudskillsboost.google/public_profiles/28b434be-64c8-4b98-b2a6-7851772bda44/badges/3572551?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" rel="noopener noreferrer">
				<img src="/tymultiverse/assets/md-image/GoogleDT.jpeg" alt="Google DT" />
			</a>
		</div>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 2rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
		max-width: 1200px; /* 限制寬度 */
		margin: 0 auto; /* 置中 */
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 3rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(4, minmax(200px, 1fr)); /* 增加區塊最小寬度 */
			gap: 6rem; /* 增加區塊間距 */
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}

	/* 新增效果的樣式 */
	.image-container {
		width: 150px;
		height: 270px;
		border: 1px solid #ddd;
		overflow: hidden;
		position: relative;
	}

	.image-container img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform 0.3s ease, object-fit 0.3s ease;
	}

	.image-container:hover img {
		transform: scale(1.2); /* 放大 */
		object-fit: contain; /* 顯示原比例 */
	}
</style>


