<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .star img {
        width: 50px;
        height: auto;
        filter: grayscale(100%);
        transition: filter 0.3s ease;
      }

      .star img.active {
        filter: grayscale(0%);
      }

      .star:hover img {
        filter: grayscale(0%);
        cursor: pointer;
      }

      .count {
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <span class="star">
      <img
        src="/assets/star.png"
        alt="star"
        id="0"
        onmouseover="hoverStars(0)"
      />
      <img
        src="/assets/star.png"
        alt="star"
        id="1"
        onmouseover="hoverStars(1)"
      />
      <img
        src="/assets/star.png"
        alt="star"
        id="2"
        onmouseover="hoverStars(2)"
      />
      <img
        src="/assets/star.png"
        alt="star"
        id="3"
        onmouseover="hoverStars(3)"
      />
      <img
        src="/assets/star.png"
        alt="star"
        id="4"
        onmouseover="hoverStars(4)"
      />
    </span>
    <div class="count" id="starCount">您尚未評價</div>
    <script>
      let currentStarCount = 0;
      function updateStarCount() {
        document.getElementById(
          "starCount"
        ).innerHTML = `您評價了${currentStarCount}星！`;
      }

      // 有被加上 active 就會是原色
      function hoverStars(id) {
        currentStarCount = id + 1;
        updateStarCount();
      }

      document.addEventListener("DOMContentLoaded", () => {
        applyStarStyles(currentStarCount - 1);
      });

      function applyStarStyles(id) {
        for (let i = 0; i <= id; i++) {
          document.getElementById(i).classList.add("active");
        }
        for (let i = id + 1; i <= 4; i++) {
          document.getElementById(i).classList.remove("active");
        }
      }
    </script>
  </body>
</html>
